.chat {
    width: 83%;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/fa/47/a2/fa47a2ea39b1a6cd36bedec8b811d982.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header{
        height: 5%;
        min-height: 55px;
        width: 100%;
        background-color: #ffffff;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: lightgray;
        }
    }
    &__body{
        height: 800px;
    }
    &__footer{
        min-height: 50px;
        max-height: 240px;
        padding-top: 15px;
        position: relative;
        width: 100%;
        background-color: #ffffff;
        & svg{
            height: 20px;
            width: 20px;
            color: gray;
            cursor: pointer;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 100%;
            right: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: lightgray;
        }
        display: flex;
        justify-content: space-around;
        &--input{
            min-width: 90%;
            height: 25px;
        }
        &--message{
            margin: 0;
            max-height: 210px;
            padding: 0;
            resize: none;
            width: 100%;
            height: 25px;
            font-size: 14px;
            outline:none;
            border: none;
            &::-webkit-scrollbar{
                width: 0px;
            }
        }
    }
}