@import "home";
@import "reset";
@import "contact";


.offcanvas-start {
    width: 275px !important;
}

.menu{
    &__cont{
        display: flex;
        padding-left: 15px;
        height:60px;
        align-items: center;
        position: relative;
    }
    &__icon{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius:50%;
        width: 45px;
        height: 45px;
        margin-right: 15px;
        background: #000;
    }
}