@import "home";
@import "reset";
@import "contact";
@import "chat";
@import "menu";
@import "sidebar";


.offcanvas-start {
    width: 275px !important;
}

.offcanvas-body {
    padding: 0 !important;
}
.offcanvas-header {
    padding: 1rem 0rem !important;
}